### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Arquivos estáticos e de mídia
public/                  # STATIC_ROOT (gerado por collectstatic)
static/                  # STATICFILES_DIRS (se não quiser versionar arquivos locais)
media/                   # MEDIA_ROOT (arquivos enviados por usuários)

# Variáveis de ambiente
.env

# Dependências e ambientes virtuais
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribuição / empacotamento
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs de instalação
pip-log.txt
pip-delete-this-directory.txt

# Testes e cobertura
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Traduções
*.mo

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PDM
.pdm.toml
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython
cython_debug/

# Poetry
poetry.toml

# Ruff
.ruff_cache/

# LSP
pyrightconfig.json