{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Clínica das Árabia - Estética Avançada">
		<meta name="keywords" content="Dra. Naime Farhat">
		<meta name="viewport" content="width=device-width, initial-scale=1">

  		<!-- TÍTULO DO SITE -->
		<title>Clínica das Árabia</title>

		<!-- FAVICON E ICONE DE TOQUE -->
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="152x152" href="{%static 'images/apple-touch-icon-152x152.png'%}">
		<link rel="apple-touch-icon" sizes="120x120" href="{%static 'images/apple-touch-icon-120x120.png'%}">
		<link rel="apple-touch-icon" sizes="76x76" href="{%static 'images/apple-touch-icon-76x76.png'%}">
		<link rel="apple-touch-icon" href="{%static 'images/apple-touch-icon.png'%}">
		<link rel="icon" href="{%static 'images/apple-touch-icon.png'%}" type="image/x-icon">

		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<!-- BOOTSTRAP CSS -->
		<link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">

		<!-- FONT ICONS -->
		<link href="{%static 'css/flaticon.css'%}" rel="stylesheet">

		<!-- PLUGINS STYLESHEET -->
		<link href="{%static 'css/menu.css'%}" rel="stylesheet">
		<link id="effect" href="{%static 'css/fade-down.css'%}" media="all" rel="stylesheet">
		<link href="{%static 'css/magnific-popup.css'%}" rel="stylesheet">
		<link href="{%static 'css/owl.carousel.min.css'%}" rel="stylesheet">
		<link href="{%static 'css/owl.theme.default.min.css'%}" rel="stylesheet">
		<link href="{%static 'css/datetimepicker.min.css'%}" rel="stylesheet">
		<link href="{%static 'css/lunar.css'%}" rel="stylesheet">

		<!-- ON SCROLL ANIMATION -->
		<link href="{%static 'css/animate.css'%}" rel="stylesheet">

		<!-- TEMPLATE CSS -->
		<link href="{%static 'css/style.css'%}" rel="stylesheet">

		<!-- RESPONSIVE CSS -->
		<link href="{%static 'css/responsive.css'%}" rel="stylesheet">

	</head>

	<body class="bg--ivory">




		<!-- SPINNER DE PRÉ-CARREGAMENTO -->
		<div id="loading" class="loading-black">
			<div id="loading-center"><span class="loader"></span></div>
		</div>




		<!-- ALTERADOR DE ESTILO -->
		<div id="stlChanger">
			<div class="blockChanger bgChanger">
            	<a href="#" class="chBut ico-35">
            		<p class="switch">
            			<span class="drk-mode flaticon-moon"></span>
            			<span class="lgt-mode flaticon-sum"></span>
            		</p>
            	</a>
			</div>
		</div>




		<!-- CONTEÚDO DA PÁGINA -->
		<div id="page" class="page">




			<!-- CABEÇALHO -->
			<header id="header" class="tra-menu navbar-light white-scroll">
				<div class="header-wrapper">


					<!-- CABEÇALHO MOBILE -->
				    <div class="wsmobileheader clearfix">
				    	<span class="smllogo">
				    		<a href="{% url 'index' %}" class="logo-black"><img src="{%static 'images/logo-black.png'%}" alt="mobile-logo"></a>
				    		<a href="{% url 'index' %}" class="logo-white"><img src="{%static 'images/logo-white.png'%}" alt="mobile-logo"></a>
				    	</span>
				    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
				 	</div>


				 	<!-- MENU DE NAVEGAÇÃO -->
				  	<div class="wsmainfull menu clearfix">
	    				<div class="wsmainwp clearfix">


	    					<!-- CABEÇALHO LOGO PRETO -->
	    					<div class="desktoplogo">
	    						<a href="{% url 'index' %}" class="logo-black"><img src="{%static 'images/logo-black.png'%}" alt="logo"></a>
	    					</div>


	    					<!-- CABEÇALHO LOGO BRANCO -->
	    					<div class="desktoplogo">
	    						<a href="{% url 'index' %}" class="logo-white"><img src="{%static 'images/logo-white.png'%}" alt="logo"></a>
	    					</div>


	    					<!-- MENU PRINCIPAL -->
	      					<nav class="wsmenu clearfix">
	        					<ul class="wsmenu-list">


	        						<!-- DROPDOWN SUB MENU -->
						          	<li aria-haspopup="true"><a href="{% url 'index' %}" class="h-link">Inicio</a>
								    </li>


								    <!-- LINK DE NAVEGAÇÃO SIMPLES -->
							    	<li class="nl-simple" aria-haspopup="true"><a href="{% url 'tratamentos' %}" class="h-link">Tratamentos</a></li>


								    <!-- BOTÃO DE AGENDAMENTO -->
								    <li class="nl-simple" aria-haspopup="true">
								    	<a href="{% url 'agendamento' %}" class="btn btn--tra-white hover--white last-link">Agendamento Online</a>
								    </li>


	        					</ul>
	        				</nav>	<!-- FIM DO MENU PRINCIPAL-->


	    				</div>
	    			</div>	<!-- FIM DO MENU DE NAVEGAÇÃO -->


				</div>     <!-- Fim do cabeçalho-wrapper -->
			</header>	<!-- FINAL DO CABEÇALHO -->




			<!-- HERO-1 -->
			<section id="hero-1" class="hero-section">
 				<div class="slideshow">
   					<div class="slideshow-inner">


						<!-- SLIDER -->
   						<div class="slides">


							<!-- SLIDE #1 -->
							<div class="slide is-active">

								<!-- Slide Content -->
					          	<div class="slide-content">
					          		<div class="container">
		       							<div class="row justify-content-md-center">
		       								<div class="col col-lg-10">
					            				<div class="caption color--white">

								            		<!-- Título -->
								              		<div class="title"><h2>Bem-vindo a Clínica Das Arábia</h2></div>

								              		<!-- Texto -->
										            <div class="text">

														<h5 class="h5-lg">Beleza com tecnologia, cuidado e carinho</h5>

										               	<!-- Botão -->
														<a href="#gallery-4" class="btn btn--tra-white hover--white">
															Saiba mais
														</a>

										            </div>

												</div>
											</div>
										</div>
					            	</div>
					          	</div>	<!-- Final Slide Content -->

								<!-- Slide Imagem de fundo -->
						        <div class="image-container">
						            <picture>
						                <!-- Mobile -->
						                <source media="(max-width: 600px)" srcset="{% static 'images/slide-1-mobile.png' %}">
						                <!-- Tablet -->
						                <source media="(max-width: 900px)" srcset="{% static 'images/slide-1-tablet.png' %}">
						                <!-- Desktop (fallback) -->
						                <img class="image" src="{% static 'images/slide-1.jpg' %}" alt="slide-background">
						            </picture>
						        </div>

					    	</div>	<!-- FIM SLIDE #1 -->


					   		<!-- SLIDE #2 -->
							<div class="slide">

								<!-- Slide Content -->
								<div class="slide-content">
									<div class="container">
		       							<div class="row justify-content-md-center">
		       								<div class="col col-lg-10">
					            				<div class="caption color--white">

								            		<!-- Título -->
								              		<div class="title"><h2>Valorize sua autoestima</h2></div>

								              		<!-- Texto -->
										            <div class="text">

										            	<h5 class="h5-lg">com tratamentos exclusivos</h5>

										                <!-- Botão -->
														<a href="{% url 'tratamentos' %}" class="btn btn--tra-white hover--white">
															Confira nossos atendimentos
														</a>

										            </div>

												</div>
											</div>
										</div>
					            	</div>
					          	</div>	<!-- Fim Slide Content -->

								<!-- Slide Imagem de fundo -->
						        <div class="image-container">
						            <picture>
						                <!-- Mobile -->
                                        <source media="(max-width: 600px)" srcset="{% static 'images/slide-2-mobile.png' %}">
                                        <!-- Tablet -->
                                        <source media="(max-width: 900px)" srcset="{% static 'images/slide-2-tablet.png' %}">
                                        <!-- Desktop (fallback) -->
                                        <img class="image" src="{% static 'images/slide-2.jpg' %}" alt="slide-background">
						            </picture>
						        </div>

						    </div>	<!-- FIM DO SLIDE #2 -->


						    <!-- SLIDE #3 -->
							<div class="slide">

								<!-- Slide Content -->
								<div class="slide-content">
									<div class="container">
		       							<div class="row justify-content-md-center">
		       								<div class="col col-lg-10">
					            				<div class="caption text-center color--white">

					            					<!-- Título -->
								              		<div class="title"><h2>Você é seu maior investimento</h2></div>

								              		<!-- Texto -->
										            <div class="text">

										            	<h5 class="h5-lg">Resultados que transformam sua autoestima</h5>

										         	 	<!-- Botão -->
														<a href="{% url 'agendamento' %}" class="btn btn--tra-white hover--white">
															Agende Agora
														</a>

							            			</div>

  												 </div>
											</div>
										</div>
					            	</div>
					          	</div>	<!-- Fim do Slide Content -->

								<!-- Slide Imagem de fundo -->
						        <div class="image-container">
						            <picture>
						                <!-- Mobile -->
                                        <source media="(max-width: 600px)" srcset="{% static 'images/slide-3-mobile.png' %}">
                                        <!-- Tablet -->
                                        <source media="(max-width: 900px)" srcset="{% static 'images/slide-3-tablet.png' %}">
                                        <!-- Desktop (fallback) -->
                                        <img class="image" src="{% static 'images/slide-3.jpg' %}" alt="slide-background">
						            </picture>
						        </div>

						    </div>	<!-- FIM DO SLIDE #3 -->


						</div>	<!-- FIM SLIDER -->


					</div>    <!-- Fim da apresentação de slides interna -->
				</div>	   <!-- Fim apresentação de slides -->
			</section>	<!-- FIM HERO-1 -->




			<!-- CONTEÚDO DO TEXTO -->
			<section class="pt-8 ct-01 content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- BLOCO DE TEXTO -->
						<div class="col-lg-6 order-last order-lg-2">
							<div class="txt-block left-column wow fadeInRight">

								<!-- ID da seção-->
						 		<span class="section-id">Mente, Corpo e Bem-estar</span>

								<!-- Título -->
								<h2 class="h2-md">Quem sou</h2>

								<!-- Texto -->
								<p class="mb-0" style="text-align: justify;">
									Sou a <b>Dra. Naime Farhat</b>, biomédica esteta com registro no CRBM 54932 e pós-graduada em
									Estética Avançada. Desde 2022, atuo na área de estética, oferecendo tratamentos que
									promovem o bem-estar e a autoestima dos meus clientes.
									<br>
									<br>
									Minha formação é complementada por diversos cursos especializados, o que me permite
									atuar tanto na área corporal quanto na facial com técnicas e procedimentos avançados.
									<br>
									<br>
									<b>Especialidades na Área Corporal:</b> Aplicação de enzimas para emagrecimento, Tratamentos
									para flacidez, estrias e celulite, Secagem de vasinhos e Harmonização de glúteo.
									<br>
									<br>
									<b>Especialidades na Área Facial:</b> Peeling, Microagulhamento, Intradermoterapia facial e capilar,
									Preenchimento, Bioestimuladores, Fios de PDO, Jato de plasma, Lipo de papada e Botox.
								</p>

								<!-- Botão -->
								<div class="txt-block-btn">
									<a href="#gallery-4" class="btn btn--tra-black hover--black">Saiba mais</a>
								</div>

							</div>
						</div>	<!-- FIM DO BLOCO DE TEXTO -->


						<!-- BLOCO DE IMAGEM -->
						<div class="col-lg-6 order-first order-lg-2">
							<div class="img-block right-column wow fadeInLeft">
								<img class="img-fluid" src="{%static 'images/woman_023.jpg'%}" alt="content-image">
							</div>
						</div>


					</div>    <!-- Linha final -->
				</div>	   <!-- Fim do contêiner -->
			</section>	<!-- FIM DO CONTEÚDO DO TEXTO -->




			<!-- SOBRE-1 -->
			<section class="pt-8 about-1 about-section">
				<div class="container">
					<div class="row justify-content-center">


						<!-- BLOCO DE TEXTO -->
						<div class="col-lg-10 col-xl-9">
							<div class="txt-block text-center">

								<!-- ID da seção -->
					 			<span class="section-id">Mime-se</span>

								<!-- Título -->
								<h2 class="h2-title">Clínica especializada onde você se sentirá única(o)</h2>

								<!-- Texto -->
								<p class="mb-0">Transforme sua beleza de dentro para fora! ✨ <br>
									Na clínica Das Arábia, oferecemos tratamentos de bioestética inovadores, personalizados para realçar sua beleza natural e promover o seu bem-estar.
									Agende sua avaliação e descubra como podemos te ajudar a conquistar a melhor versão de você!
								</p>

							</div>
						</div>	<!-- FIM DO BLOCO DE TEXTO -->


					</div>    <!-- Linha final -->
				</div>	   <!-- Fim do contêiner -->
			</section>	<!-- FIM SOBRE-1 -->




			<!-- SERVIÇOS-2 -->
			<section id="services-2" class="pt-6 services-section division">
				<div class="container">


			 		<!-- SERVIÇOS-2 WRAPPER -->
			 		<div class="sbox-2-wrapper text-center">
			 			<div class="row row-cols-1 row-cols-md-2 row-cols-lg-5">


			 				<!-- CAIXA DE SERVIÇOS #1 -->
							<div class="col">
								<div class="sbox-2 sb-1 wow fadeInUp">

									<!-- Icon -->
									<div class="sbox-ico ico-65">
										<img class="flaticon-facial-treatment" src="{%static 'images/botox.png'%}" width="74.44" height="74.44">
									</div>

									<!-- Texto -->
									<div class="sbox-txt">
										<h5 class="h5-lg">FACIAL</h5>
										<p>Oferecemos tratamentos faciais personalizados de última geração, com resultados incríveis e duradouros, para uma pele radiante e rejuvenescida.
										</p>
									</div>

								</div>
							</div>	<!-- FINAL CAIXA DE SERVIÇOS -->


				 			<!-- CAIXA DE SERVIÇOS #2 -->
							<div class="col">
								<div class="sbox-2 sb-2 wow fadeInUp">

									<!-- Icon -->
									<div class="sbox-ico ico-65">
										<img class="flaticon-facial-treatment" src="{%static 'images/labios.png'%}" width="74.44" height="74.44">
									</div>

									<!-- Texto -->
									<div class="sbox-txt">
										<h5 class="h5-lg">LABIAL</h5>
										<p>Conquiste lábios volumosos, definidos e hidratados com nossos tratamentos labiais.<br>
											 Deixe sua boca ainda mais expressiva e sensual!</p>
									</div>

								</div>
							</div>	<!-- FIM CAIXA DE SERVIÇOS #2 -->

							<!-- CAIXA DE SERVIÇOS #2 -->
							<div class="col">
								<div class="sbox-2 sb-2 wow fadeInUp">

									<!-- Icon -->
									<div class="sbox-ico ico-65">
										<img class="flaticon-facial-treatment" src="{%static 'images/nariz.png'%}" width="74.44" height="74.44">
									</div>

									<!-- Texto -->
									<div class="sbox-txt">
										<h5 class="h5-lg">RINOMODELAÇÃO</h5>
										<p>Realce e harmonize seu perfil com um nariz mais definido, sem cortes e com resultados imediatos.
											Sutileza, equilíbrio e elegância em cada traço do seu rosto.</p>
									</div>

								</div>
							</div>	<!-- FIM CAIXA DE SERVIÇOS #2 -->


							<!-- CAIXA DE SERVIÇOS #3 -->
							<div class="col">
								<div class="sbox-2 sb-3 wow fadeInUp">

									<!-- Icon -->
									<div class="sbox-ico ico-65">
										<img class="flaticon-facial-treatment" src="{%static 'images/gluteo.png'%}" width="74.44" height="74.44">
									</div>

									<!-- Texto -->
									<div class="sbox-txt">
										<h5 class="h5-lg">GLÚTEOS</h5>
										<p>Glúteos dos sonhos, com a forma que você sempre quis: Tonifique, modele e revitalize seus glúteos com nossos tratamentos exclusivos. Diga adeus à flacidez e à celulite!</p>
									</div>

								</div>
							</div>	<!-- FINAL CAIXA DE SERVIÇOS #3 -->


							<!-- CAIXA DE SERVIÇOS #4 -->
							<div class="col">
								<div class="sbox-2 sb-4 wow fadeInUp">

									<!-- Icon -->
									<div class="sbox-ico ico-65">
										<img class="flaticon-facial-treatment" src="{%static 'images/corporal.png'%}" width="74.44" height="74.44">
									</div>

									<!-- Texto -->
									<div class="sbox-txt">
										<h5 class="h5-lg">CORPORAL</h5>
										<p>Conquiste o corpo desejado com nossos tratamentos corporais personalizados. Reduza medidas, combata a celulite, estrias e a flacidez, e sinta-se confiante e poderosa!</p>
									</div>

								</div>
							</div>	<!-- FINAL CAIXA DE SERVIÇOS #4 -->


			 			</div>	 <!-- Linha final -->
			 		</div>	 <!-- FIM SERVIÇOS-2 WRAPPER -->


			 	</div>	   <!-- Fim do contêiner -->
			</section>	<!-- SERVIÇOS FINAIS-2 -->




			<!-- CONTEÚDO DO TEXTO -->
			<section class="pt-8 ct-06 content-section">
				<div class="container white--shape shape-shadow">
					<div class="row d-flex align-items-center">


						<!-- BLOCO DE IMAGEM -->
						<div class="col-lg-6">
							<div class="ct-06-img left-column wow fadeInRight">
								<img class="img-fluid" src="{%static 'images/woman_01.jpg'%}" alt="content-image">
							</div>
						</div>


						<!-- BLOCO DE TEXTO -->
					 	<div class="col-lg-6">
					 		<div class="txt-block right-column wow fadeInLeft">

					 			<!-- ID da seção -->
						 		<span class="section-id">Naturalmente você</span>

								<!-- Título -->
								<h2 class="h2-md">Pareça natural com a Clínica Das Arábia</h2>

								<!-- ACCORDION WRAPPER -->
								<div class="accordion accordion-wrapper mt-5">
									<ul class="accordion">


										<!-- ACCORDION ITEM #1 -->
										<li class="accordion-item is-active">

											<!-- Título -->
											<div class="accordion-thumb"><p>Biomedica Esteta Especializada</p></div>

											<!-- Text -->
											<div class="accordion-panel">
									      		<p class="mb-0">Dra. Naime Farhat, biomédica esteta com registro no CRBM 54932 e pós-graduada em Estética Avançada.
												</p>
											</div>

										</li>	<!-- FIM ACCORDION ITEM #1 -->


										<!-- ACCORDION ITEM #2 -->
										<li class="accordion-item">

											<!-- Título -->
											<div class="accordion-thumb"><p>Produtos 100% Regularizados</p></div>

											<!-- Texto -->
											<div class="accordion-panel">
												<p class="mb-0">Em procedimentos estéticos, a qualidade e a regularização dos produtos são cruciais para a saúde da pele, o maior órgão do corpo humano.<br>
													Trabalhamos com marcas de qualidade e renome como; PHD DO BRASIL, XEOMIN, RENNOVA e BIOGELIS
												</p>
											</div>

										</li>	<!-- FIM ACCORDION ITEM #2 -->


										<!-- ACCORDION ITEM #3 -->
										<li class="accordion-item">

											<!-- Título -->
											<div class="accordion-thumb"><p>Reserva on-line fácil</p></div>

											<!-- Texto -->
											<div class="accordion-panel">
									      		<p class="mb-0">Experimente a praticidade do agendamento online e simplifique sua vida. Marque seu próximo horário agora e aproveite todos os benefícios que a tecnologia tem para oferecer!
												</p>
												<a href="{% url 'agendamento' %}" class="btn btn--tra-black hover--white last-link">
													Agende Agora
												</a>
											</div>

										</li>	<!-- FIM ACCORDION ITEM #3 -->


									</ul>
								</div>	<!-- FIM ACCORDION WRAPPER -->

					 		</div>
					 	</div>	  <!-- FIM BLOCO DE TEXTO -->


					</div>    <!-- Linha final -->
				</div>	   <!-- Fim do contêiner -->
			</section>	<!-- FIM DO CONTEÚDO DO TEXTO -->




			<!-- HORARIO DE ATENDIMENTO -->
			<section class="py-8 ct-table content-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- TEXTO -->
						<div class="col-lg-6">
							<div class="left-column wow fadeInRight">

								<!-- ID da seção -->
						 		<span class="section-id">Cronograma</span>

								<!-- Título -->
								<h2 class="h2-md">Horários de atendimentos</h2>

								<!-- Texto -->
								<p class="mb-0">Nosso compromisso com a excelência está disponível
									para você durante toda a semana, com horários flexíveis que se adaptam à sua rotina.
									Seja para um rejuvenescimento facial, tratamentos corporais ou cuidados com a pele,
									estamos prontos para atendê-lo com o máximo de atenção e carinho.
								</p>

							</div>
						</div>


						<!-- TABELA -->
						<div class="col-lg-6">
							<div class="txt-table right-column wow fadeInLeft">
								<table class="table">
									<tbody>
									    <tr>
									      	<td>Segunda - Sexta Feira</td>
									      	<td> - </td>
									      	<td class="text-end">10:00 - 18:00</td>
									    </tr>
									    <tr>
									      	<td>Sábado</td>
									      	<td> - </td>
									      	<td class="text-end">12:00 - 16:00</td>
									    </tr>
									    <tr class="last-tr">
									      	<td>Domingo</td>
									      	<td>-</td>
									      	<td class="text-end">FECHADO</td>
									   	 </tr>
									  </tbody>
								</table>
							</div>
						</div>	<!-- FIM TABELA -->


					</div>    <!-- Linha final -->
				</div>	   <!-- Fim do contêiner -->
			</section>	<!-- FIM DO HORARIO DE ATENDIMENTO -->

			<!-- PREÇO-1
			============================================= -->
			<div class="pt-8 pricing-1 pricing-section division">
				<div class="container">


					<!-- TÍTULO DA SEÇÃO -->
					<div class="row justify-content-center">
						<div class="col-md-10 col-lg-8">
							<div class="section-title text-center mb-6">

								<!-- ID da seção -->
					 			<span class="section-id">Concentre-se no seu bem-estar</span>

								<!-- Título -->
								<h2 class="h2-title">Nossos Principais Tratamentos</h2>

							</div>
						</div>
					</div>


					<!-- PREÇO-1 WRAPPER -->
					<div class="pricing-1-wrapper">
						<div class="row">

							<!-- TRATAMENTOS TABELA UM  -->
							<div class="col-lg-6">
								<div class="pricing-1-table left-column wow fadeInUp">
									<ul class="pricing-list">
										{% for tratamento in coluna1 %}
											<li class="pricing-5-item">
												<div class="detail-price">
													<div class="price-name"><p>{{ tratamento.nome_tratamento }}:</p></div>
												</div>
												<div class="price-txt">
													<p>{{ tratamento.descricao | default:"-" }}</p>
												</div>
											</li>
										{% empty %}
											<li><p>Nenhum tratamento encontrado.</p></li>
										{% endfor %}
									</ul>
									<br>
									<p> </p>
								</div>
							</div>
							<!-- FIM TRATAMENTOS TABELA UM -->


							<!-- TRATAMENTOS TABELA DOIS -->
							<div class="col-lg-6">
								<div class="pricing-1-table right-column wow fadeInUp">
									<ul class="pricing-list">
										{% for tratamento in coluna2 %}
											<li class="pricing-5-item">
												<div class="detail-price">
													<div class="price-name"><p>{{ tratamento.nome_tratamento }}:</p></div>
												</div>
												<div class="price-txt">
													<p>Duração: {{ tratamento.descricao | default:"-" }}</p>
												</div>
											</li>
										{% empty %}
											<li><p>Nenhum tratamento encontrado.</p></li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<!-- FIM TRATAMENTOS TABELA DOIS -->


						</div>
					</div>	<!-- FIM PREÇO-1 WRAPPER -->


					<!-- BOTÃO -->
			 		<div class="row">
			 			<div class="col">
			 				<div class="more-btn mt-5">
								<a href="{% url 'tratamentos' %}" class="btn btn--tra-black hover--black">Veja todos os tratamentos</a>
							</div>
						</div>
					</div>


				</div>  <!-- Fim do contêiner -->
			</div>	<!-- FIM PREÇO-1 -->




			<!-- CONTEÚDO DO TEXTO  -->
			<section class="pt-8 ct-07 ws-wrapper content-section">
				<div class="container">
					<div class="ct-07-wrapper bg--white block-shadow">
						<div class="row d-flex align-items-center">


							<!-- BLOCO DE TEXTO -->
							<div class="col-lg-6 order-last order-lg-2">
								<div class="txt-block left-column">

									<!-- ID da seção -->
						 			<span class="section-id">Venha, relaxe e aproveite</span>

									<!-- Título -->
									<h2 class="h2-md">Lugar onde você se sentirá bem</h2>

									<!-- Texto -->
									<p class="mb-0" style="text-align: justify;">Na Clínica Das Arábia, acreditamos que a beleza floresce em um ambiente onde você se sente verdadeiramente bem. Nosso espaço foi cuidadosamente projetado para ser um oásis de tranquilidade, onde você pode relaxar profundamente e aproveitar cada momento.
										Deixe o estresse do dia a dia para trás e entregue-se aos nossos tratamentos de estética avançada, criados para realçar sua beleza natural e renovar suas energias.<br>
										Na Clínica Das Arábia, você encontrará:
										<ul>
											<li style="text-align: justify;"><b>Tecnologia de ponta:</b> Equipamentos modernos e técnicas inovadoras para resultados surpreendentes.</li>
											<li style="text-align: justify;"><b>Profissional qualificada e experiente:</b> Dra. Naime totalmente dedicada e apaixonada por cuidar de você.</li>
											<li style="text-align: justify;"><b>Atendimento personalizado:</b> Tratamentos sob medida para suas necessidades e desejos.</li>
										</ul>
										Venha descobrir o seu lugar de bem-estar. Venha para a Clínica Das Arábia.
									</p>

									<!-- Botão -->
									<div class="txt-block-btn">
										<a href="{% url 'agendamento' %}" class="btn btn--black hover--tra-black">Marque uma avaliação</a>
									</div>

								</div>
							</div>	<!-- FIM DO BLOCO DE TEXTO -->


							<!-- BLOCO DE IMAGEM -->
							<div class="col-lg-6 order-first order-lg-2">
								<div class="img-block right-column">
									<img class="img-fluid" src="{%static 'images/woman_05.jpg'%}" alt="content-image">
								</div>
							</div>


						</div>   <!-- Linha final -->
					</div>    <!-- Fim do conteudo wrapper -->
				</div>     <!-- Fim do contêiner -->
			</section>	<!-- FIM DO CONTEÚDO DO TEXTO -->




			<!-- MARCAS-1 -->
			<div id="brands-1" class="pt-8 brands-section">
				<div class="container">


					<!-- CAROUSEL DE MARCAS -->
					<div class="row">
						<div class="col text-center">
							<div class="owl-carousel brands-carousel-5">


								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-1.png'%}" alt="brand-logo"></a>
								</div>


								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-2.png'%}" alt="brand-logo"></a>
								</div>


								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-3.png'%}" alt="brand-logo"></a>
								</div>


								<!-- BMARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-4.png'%}" alt="brand-logo"></a>
								</div>


								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-5.png'%}" alt="brand-logo"></a>
								</div>


								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-6.png'%}" alt="brand-logo"></a>
								</div>


								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-7.png'%}" alt="brand-logo"></a>
								</div>

								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-8.png'%}" alt="brand-logo"></a>
								</div>

								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-9.png'%}" alt="brand-logo"></a>
								</div>

								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-10.png'%}" alt="brand-logo"></a>
								</div>

								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-11.png'%}" alt="brand-logo"></a>
								</div>

								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-12.png'%}" alt="brand-logo"></a>
								</div>
								
								<!-- MARCA LOGO IMAGEM -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid" src="{%static 'images/brand-13.png'%}" alt="brand-logo"></a>
								</div>

							</div>
						</div>
					</div>  <!-- FIM CAROUSEL DE MARCAS -->


				</div>	<!-- Fim do contêiner -->
			</div>	<!-- FIM MARCAS-1 -->




			<!-- GALERIA-4 -->
			<div id="gallery-4" class="py-8 gallery-section division">
				<div class="container-fluid">


					<!-- TÍTULO DA SEÇÃO -->
					<div class="row justify-content-center">
						<div class="col-md-10 col-lg-8">
							<div class="section-title text-center mb-6">

								<!-- ID da seção -->
					 			<span class="section-id">Seja sua melhor versão</span>

								<!-- Título -->
								<h2 class="h2-title">Redefina sua beleza</h2>

							</div>
						</div>
					</div>


					<!-- GALERIA-4 WRAPPER -->
					<div class="gallery-4-wrapper">
						<div class="row">


							<!-- IMAGEM #1 -->
							<div class="col-md-6 col-lg-2">
								<div id="img-4-1" class="gallery-image">
							  		<div class="hover-overlay">

							  			<!-- Imagem -->
										<img class="img-fluid" src="{%static 'images/woman_04.jpg'%}" alt="gallery-image">
										<div class="item-overlay"></div>

										<!-- Imagem Zoom -->
										<div class="image-data">
											<div class="gallery-link ico-30 color--white">
												<a class="image-link" href="{%static 'images/woman_04.jpg'%}">
													<span class="flaticon-visibility"></span>
												</a>
											</div>
										</div>

							  		</div>
								</div>
							</div>


							<!-- IMAGEM #2 -->
							<div class="col-md-6 col-lg-5">
								<div id="img-4-2" class="gallery-image">
							  		<div class="hover-overlay">

							  			<!-- Imagem -->
										<img class="img-fluid" src="{%static 'images/woman_01_1.jpg'%}" alt="gallery-image">
										<div class="item-overlay"></div>

										<!-- Imagem Zoom -->
										<div class="image-data">
											<div class="gallery-link ico-40 color--white">
												<a class="image-link" href="{%static 'images/woman_01_1.jpg'%}">
													<span class="flaticon-visibility"></span>
												</a>
											</div>
										</div>

							  		</div>
								</div>
							</div>


							<!-- IMAGEM #1 -->
							<div class="col-lg-3">


								<!-- IMAGEM #3 -->
								<div id="img-4-3" class="gallery-image">
							  		<div class="hover-overlay">

							  			<!-- Imagem -->
										<img class="img-fluid" src="{%static 'images/woman_03.jpg'%}" alt="gallery-image">
										<div class="item-overlay"></div>

										<!-- Imagem Zoom -->
										<div class="image-data">
											<div class="gallery-link ico-40 color--white">
												<a class="image-link" href="{%static 'images/woman_03.jpg'%}">
													<span class="flaticon-visibility"></span>
												</a>
											</div>
										</div>

							  		</div>
								</div>


								<!-- IMAGEM #4 -->
								<div id="img-4-4" class="gallery-image">
							  		<div class="hover-overlay">

							  			<!-- Imagem -->
										<img class="img-fluid" src="{%static 'images/woman_02_1.jpg'%}" alt="gallery-image">
										<div class="item-overlay"></div>

										<!-- Imagem Zoom -->
										<div class="image-data">
											<div class="gallery-link ico-40 color--white">
												<a class="image-link" href="{%static 'images/woman_02_1.jpg'%}">
													<span class="flaticon-visibility"></span>
												</a>
											</div>
										</div>

							  		</div>
								</div>

							</div>


							<div class="col-lg-2">


								<!-- IMAGEM #5 -->
								<div id="img-4-5" class="gallery-image">
							  		<div class="hover-overlay">

							  			<!-- Imagem -->
										<img class="img-fluid" src="{%static 'images/woman_05_1.jpg'%}" alt="gallery-image">
										<div class="item-overlay"></div>

										<!-- Imagem Zoom -->
										<div class="image-data">
											<div class="gallery-link ico-30 color--white">
												<a class="image-link" href="{%static 'images/woman_05_1.jpg'%}">
													<span class="flaticon-visibility"></span>
												</a>
											</div>
										</div>

							  		</div>
								</div>


								<!-- IMAGEM #5 -->
								<div id="img-4-6" class="gallery-image">
							  		<div class="hover-overlay">

							  			<!-- Imagem -->
										<img class="img-fluid" src="{%static 'images/woman_06.jpg'%}" alt="gallery-image">
										<div class="item-overlay"></div>

										<!-- Imagem Zoom -->
										<div class="image-data">
											<div class="gallery-link ico-30 color--white">
												<a class="image-link" href="{%static 'images/woman_06.jpg'%}">
													<span class="flaticon-visibility"></span>
												</a>
											</div>
										</div>

							  		</div>
								</div>


							</div>


						</div>  <!-- Linha final -->
					</div>	<!-- FIM DA GALERIA-4 WRAPPER -->


					<!-- BOTÃO -->
			 		<div class="row">
			 			<div class="col">
			 				<div class="more-btn">
								<a href="{% url 'tratamentos' %}" class="btn btn--tra-black hover--black">Veja nossos tratamentos</a>
							</div>
						</div>
					</div>


				</div>	   <!-- Fim do contêiner -->
			</div>	<!-- FIM DA GALERIA-4 -->




			<!-- CONTEÚDO DO TEXTO -->
			<section class="pt-8 ct-09 content-section division">
				<div class="container text-center">


					<!-- TÍTULO DA SEÇÃO -->
					<div class="row justify-content-center">
						<div class="col-md-10 col-lg-8">
							<div class="section-title text-center mb-6">

								<!-- ID da seção -->
					 			<span class="section-id">Nossa localização</span>

								<!-- Título -->
								<h2 class="h2-title">Bem vindo a Clinica Das Arábia </h2>

							</div>
						</div>
					</div>


					<div class="row d-flex align-items-center">


						<!-- BLOCO DE TEXTO -->
						<div class="col-md-6">
							<div class="left-column wow fadeInRight">

								<!-- IMAGEM -->
								<div class="ct-09-img">
									<div class="hover-overlay">
										<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.786827483392!2d-46.5890084!3d-23.540168400000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5fba1361de97%3A0x747cc41bd7b16be8!2zQ2zDrW5pY2EgZGFzIEFyw6FiaWEgLSBFc3TDqXRpY2EgQXZhbsOnYWRh!5e0!3m2!1spt-BR!2sbr!4v1746069654683!5m2!1spt-BR!2sbr" width="632" height="395" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
										<div class="item-overlay"></div>
									</div>
								</div>

								<!-- TEXTO -->
								<div class="ct-09-txt">

									<!-- Título -->
									<h3>Clínica Das Arábia</h3>

									<p class="ct-09-address">Av. Álvaro Ramos Nº 235, Sala 31,
										Belenzinho,  São Paulo - SP, 03058-060, Brasil</p>

									<!-- Lista de Vantagens -->
									<ul class="advantages ico-30 clearfix">
										<li><p class="me-3">desde 2024</p></li>
										<li><p><a href="#footer-3">Saiba mais</a></p></li>
										<li class="advantages-links-divider"><p><span class="flaticon-vertical-line"></span></p></li>
										<li><p><a href="{% url 'agendamento' %}">Agende agora</a></p></li>
									</ul>

								</div>	<!-- FIM DO TEXTO -->

							</div>
						</div>	<!-- FIM DO BLOCO DE TEXTO -->


						<!-- BLOCO DE TEXTO -->
						<div class="col-md-6">
							<div class="right-column wow fadeInLeft">

								<!-- IMAGEM -->
								<div class="ct-09-img">
									<div class="hover-overlay">
										<img class="img-fluid" src="{%static 'images/salon_03.jpg'%}" alt="location-photo" style="height: 600px; width: 580px;">
										<div class="item-overlay"></div>
									</div>
								</div>

							</div>
						</div>	<!-- FIM DO BLOCO DE TEXTO -->


					</div>    <!-- Linha final -->
				</div>	   <!-- Fim do contêiner -->
			</section>	<!-- FIM DO CONTEÚDO DO TEXTO -->

			<!-- GALLERY-3
			============================================= -->
			<section id="gallery-3" class="pt-8 gallery-section division">
				<div class="container">


					<!-- TÍTULO DA SEÇÃO -->
					<div class="row justify-content-center">
						<div class="col-lg-10 col-xl-8">
							<div class="section-title">
								<h3 class="h3-lg">Siga-nos no instagram: <a style="color: #bd686b;" href="https://www.instagram.com/dra.dasarabia/" target="_blank">@dra.dasarabia</a></h3>
							</div>
						</div>
					</div>


					<!-- IMAGENS WRAPPER -->
					<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6">


						<!-- IMAGEM #1 -->
					  	<div class="col">
					  		<div id="img-3-1" class="gallery-image">
						  		<div class="hover-overlay">

						  			<!-- Imagem -->
									<img class="img-fluid" src="{%static 'images/woman_08.jpg'%}" alt="gallery-image">
									<div class="item-overlay"></div>

									<!-- Imagem Zoom -->
									<div class="image-data">
										<div class="gallery-link ico-40 color--white">
											<a class="image-link" href="{%static 'images/woman_08.jpg'%}">
												<span class="flaticon-visibility"></span>
											</a>
										</div>
									</div>

						  		</div>
							</div>
						</div>


						<!-- IMAGEM #2 -->
					  	<div class="col">
					  		<div id="img-3-2" class="gallery-image">
						  		<div class="hover-overlay">

						  			<!-- Imagem -->
									<img class="img-fluid" src="{%static 'images/beauty_01.JPG'%}" alt="gallery-image">
									<div class="item-overlay"></div>

									<!-- Imagem Zoom -->
									<div class="image-data gallery-video">
										<div class="gallery-link ico-40 color--white">
											<a class="video-popup1" href="{%static 'images/beauty_01.mp4'%}">
												<span class="flaticon-play"></span>
											</a>
										</div>
									</div>

						  		</div>
							</div>
						</div>


						<!-- IMAGEM #3 -->
					  	<div class="col">
					  		<div id="img-3-3" class="gallery-image">
						  		<div class="hover-overlay">

						  			<!-- Imagem -->
									<img class="img-fluid" src="{%static 'images/woman_07.jpg'%}" alt="gallery-image">
									<div class="item-overlay"></div>

									<!-- Imagem Zoom -->
									<div class="image-data">
										<div class="gallery-link ico-40 color--white">
											<a class="image-link" href="{%static 'images/woman_07.jpg'%}">
												<span class="flaticon-visibility"></span>
											</a>
										</div>
									</div>

						  		</div>
							</div>
						</div>


						<!-- IMAGEM #4 -->
					  	<div class="col">
					  		<div id="img-3-4" class="gallery-image">
						  		<div class="hover-overlay">

						  			<!-- Imagem -->
									<img class="img-fluid" src="{%static 'images/beauty_03.jpg'%}" alt="gallery-image">
									<div class="item-overlay"></div>

									<!-- Imagem Zoom -->
									<div class="image-data">
										<div class="gallery-link ico-40 color--white">
											<a class="image-link" href="{%static 'images/beauty_03.jpg'%}">
												<span class="flaticon-visibility"></span>
											</a>
										</div>
									</div>

						  		</div>
							</div>
						</div>


						<!-- IMAGEM #5 -->
					  	<div class="col">
					  		<div id="img-3-5" class="gallery-image">
						  		<div class="hover-overlay">

						  			<!-- Imagem -->
									<img class="img-fluid" src="{%static 'images/beauty_02.JPG'%}" alt="gallery-image">
									<div class="item-overlay"></div>

									<!-- Imagem Zoom -->
									<div class="image-data gallery-video">
										<div class="gallery-link ico-40 color--white">
											<a class="video-popup2" href="{%static 'images/beauty_02.mp4'%}" style="width: 285;">
												<span class="flaticon-play"></span>
											</a>
										</div>
									</div>

						  		</div>
							</div>
						</div>


						<!-- IMAGEM #6 -->
					  	<div class="col">
					  		<div id="img-3-6" class="gallery-image">
						  		<div class="hover-overlay">

						  			<!-- Imagem -->
									<img class="img-fluid" src="{%static 'images/woman_09.jpg'%}" alt="gallery-image">
									<div class="item-overlay"></div>

									<!-- Imagem Zoom -->
									<div class="image-data">
										<div class="gallery-link ico-40 color--white">
											<a class="image-link" href="{%static 'images/gallery/woman_09.jpg'%}">
												<span class="flaticon-visibility"></span>
											</a>
										</div>
									</div>

						  		</div>
							</div>
						</div>


					</div>	<!-- FIM IMAGENS WRAPPER -->


				</div>	   <!-- Fim do contêiner -->
			</section>	<!-- FIM DA GALERIA-3 -->

			<!-- RODAPÉ-3 -->
			<footer id="footer-3" class="pt-8 footer division">
				<div class="container text-center">


					<!-- CONTEÚDO DO RODAPÉ -->
					<div class="row">


						<!-- RODAPÉ DE CONTATOS -->
						<div class="col-sm-6 col-lg-4">
							<div id="localizacao" class="footer-contacts">

								<!-- Title -->
								<h5 class="h5-md">Nossa Localização</h5>

								<!-- Nome da Clínica -->
								<p>Clínica Das Arábia</p>

								<!-- Endereço -->
								<p>Av. Álvaro Ramos Nº 235, Sala 31<br> Belenzinho, São Paulo - SP, 03058-060, Brasil </p>

							</div>
						</div>


						<!-- RODAPÉ DE CONTATOS -->
						<div class="col-sm-6 col-lg-4">
							<div class="footer-info">

								<!-- Título -->
								<h5 class="h5-md">Entre em contato</h5>

								<!-- Telefone -->
								<p class="footer-phone"><a href="tel:+5511988910049">Telefone: +55 11 98891-0049</a></p>

								<!-- Email -->
								<p class="footer-email"><a href="mailto:dra.naimefarhat@gmail.com">dra.naimefarhat@gmail.com</a></p>

								<!-- Lista -->
								<ul class="foo-socials ico-20 text-center clearfix">
									<!-- <li><a href="#" class="ico-t"><span class="flaticon-facebook"></span></a></li>	 -->
									<li><a href="https://www.instagram.com/dra.dasarabia/" target="_blank" class="ico-youtube"><span class="flaticon-instagram"></span></a></li>
								</ul>

							</div>
						</div>


						<!-- RODAPÉ DE CONTATOS -->
						<div class="col-sm-6 col-lg-4">
							<div class="footer-info">

								<!-- Título -->
								<h5 class="h5-md">Horários de atendimento</h5>

								<!-- Texto -->
								<p>Seg-Sex: <span>10:00 - 18:00</span></p>
								<p>Sabado: <span>12:00 - 16:00</span></p>
							</div>
						</div>


					</div>	  <!-- FIM DO CONTEÚDO DO RODAPÉ -->


					<hr>	<!-- LINHA DIVISÓRIA DE RODAPÉ -->


					<!-- RODAPÉ COPYRIGHT -->
					<div class="bottom-footer">
						<div class="row">
							<div class="col">
								<div class="footer-copyright"><p>© 2025 Clinica Das Arábia. All Rights Reserved</p></div>
							</div>
						</div>  <!-- End row -->
					</div>	<!-- RODAPÉ INFERIOR -->


				</div>	   <!-- Fim do contêiner -->
			</footer>	<!-- FIM DO RODAPÉ-3 -->




		</div>	<!-- CONTEÚDO DA PÁGINA FINAL -->




		<!-- SCRIPTS EXTERNOS -->
		<script src="{%static 'js/jquery-3.7.0.min.js'%}"></script>
		<script src="{%static 'js/bootstrap.min.js'%}"></script>
		<script src="{%static 'js/modernizr.custom.js'%}"></script>
		<script src="{%static 'js/jquery.easing.js'%}"></script>
		<script src="{%static 'js/menu.js'%}"></script>
		<script src="{%static 'js/materialize.js'%}"></script>
		<script src="{%static 'js/tweenmax.min.js'%}"></script>
		<script src="{%static 'js/slideshow.js'%}"></script>
		<script src="{%static 'js/datetimepicker.js'%}"></script>
		<script src="{%static 'js/owl.carousel.min.js'%}"></script>
		<script src="{%static 'js/jquery.magnific-popup.min.js'%}"></script>
		<script src="{%static 'js/request-form.js'%}"></script>
		<script src="{%static 'js/jquery.validate.min.js'%}"></script>
		<script src="{%static 'js/jquery.ajaxchimp.min.js'%}"></script>
		<script src="{%static 'js/popper.min.js'%}"></script>
		<script src="{%static 'js/lunar.js'%}"></script>
		<script src="{%static 'js/wow.js'%}"></script>

		<!-- Script Personalizado -->
		<script src="{%static 'js/custom.js'%}"></script>

		<script>
			$(document).on({
			    "contextmenu": function (e) {
			        console.log("ctx menu button:", e.which);

			        // Pare o menu de contexto
			        e.preventDefault();
			    },
			    "mousedown": function(e) {
			        console.log("normal mouse down:", e.which);
			    },
			    "mouseup": function(e) {
			        console.log("normal mouse up:", e.which);
			    }
			});
		</script>

		<script>
			$(function() {
			  $(".switch").click(function() {
			  	 $("body").toggleClass("theme--dark");
			  });
			});
		</script>
	</body>
</html>